flask==2.0.1
flask-session==0.4.0
pandas==1.5.3
numpy==1.21.6
opencv-python-headless==4.5.3.56
deepface==0.0.75
google-auth-oauthlib==0.4.6
google-auth==2.3.3
google-api-python-client==2.31.0
gunicorn==20.1.0
python-dotenv==1.1.0
